[2014-01-09 11:08] kzaikin opened #4 "EqualsInternal custom checks"
I'd like to have an ability to extend an auto-generated EqualsInternal with custom checks. eg. create a convention for custom equals method name or add an attribute

[code]

[2014-01-11 20:56] #4 closed, assigned to nobody

[2014-03-10 06:08] distantcam opened #7 "Duplicate methods"
Equals produces duplicates of all the methods it adds if they are already present. I'm pretty sure the CLR will not like that.

[2014-03-10 06:15] distantcam opened #8 "Indexer properties produce invalid IL"
The EqualsInternal method is invalid when there is an indexer property on the class.

[2014-03-12 23:36] distantcam opened #9 "Callvirt used on structs instead of call"
When accessing the properties callvirt is used to call the get method, which then fails at runtime.

[2014-03-14 21:20] #8 closed, assigned to nobody

[2014-03-16 13:35] #7 closed, assigned to rjasica

[2014-04-04 10:57] #9 closed, assigned to nobody

[2014-05-16 19:34] IvanMacek opened #10 "Operator "==" not working when the attributed class is in the same assembly as call site"
Hi, it seems to me that the Fody generated operator "==" is not working when the attributed class with [Equals] is in the same assembly as call site.

I've done a runnable example which demonstrates the issue: https://github.com/IvanMacek/FodyEqualsFailExample

Call to the Equals method works as expected.
When the class is implemented in the another assembly operator "==" works as expected.

Thank

[2014-09-24 11:31] platonov-eugene opened #11 "Please, specify the assembly a strong name."
Please, specify the assembly a strong name.

[2014-10-08 10:28] platonov-eugene opened #12 "Fody: An unhandled exception"
Error: 2606 Fody: An unhandled exception occurred:

Exception:
Member 'System.Guid' is declared in another module and needs to be imported

StackTrace:
   в Mono.Cecil.MetadataBuilder.LookupToken(IMetadataTokenProvider provider)
   в Mono.Cecil.Cil.CodeWriter.WriteOperand(Instruction instruction)
   в Mono.Cecil.Cil.CodeWriter.WriteInstructions()
   в Mono.Cecil.Cil.CodeWriter.WriteResolvedMethodB

[2014-10-09 06:20] #11 closed, assigned to nobody

[2014-10-09 06:53] #12 closed, assigned to nobody

[2015-04-18 06:30] SimonCropp commented on #10
@rjasica still working on this? @IvanMacek any chance you want to try for a PR?

[2015-04-20 17:58] IvanMacek commented on #10
@SimonCropp sorry I don't have an active project using Fody so I don't have time to play with this :(

[2015-04-20 19:16] johnsparrowuk opened #13 "Nested structs compared using object.Equals"
I have a struct inside a class, both marked with [Equals]. Like this:
[code]

However the EqualsInternal for the outer class is:

[code]

The object.Equals will cause boxing. Wouldn't `left.Data.Equals(right.Data)` be much better?

[2015-04-21 18:45] johnsparrowuk opened #14 "Arrays are compared by reference"
If the class contains an array eg `public int[] Numbers { get; set; }` the EqualsInternal method just contains

[code]

Your IsCollection method doesn't seem to recognise plain arrays, although if I use `IList<int>` it works and generates:

[code]

.NET 4.5.2 (Windows)

[2015-04-22 08:15] rjasica commented on #14
Thanks for reporting this!
I fixed this bug in version 1.4

[2015-04-22 08:15] #14 closed

[2015-04-24 10:58] SimonCropp commented on #13
looks good. send us a pull request

[2015-05-05 20:52] jasonwoods-7 opened #16 "Equals.Fody doesn't play nicely with PostSharp"
Steps to recreate issue:

1. Create a new dll project.
2. Go into package manager console and add Equals.Fody and PostSharp.
3. Add an empty class and add the Equals attribute to the class.
4. Compile.

PostSharp throws an PostSharp.Sdk.AssertFailedException during the build.

[2015-05-05 21:11] SimonCropp commented on #16
suggest u raise this as a bug in postsharp

[2015-05-05 22:48] jasonwoods-7 commented on #16
Fair enough.  Here's the link to the issue I submitted in case you're interested in following it: http://support.sharpcrafters.com/discussions/problems/2667-exception-thrown-during-compilation-when-using-equalsfody

[2015-05-05 22:49] SimonCropp commented on #16
@jasonwoods-7 thanks

[2015-05-11 13:37] SimonCropp commented on #16
@jasonwoods-7 ok i checked the repro u uploaded to postsharp. fody is producing valid IL so it looks like a bug on the postsharp side. I would post this in the postsharp form but their forum is blocking me with captchas even though i am logged in.

[2015-05-11 13:37] #16 closed

[2015-05-29 05:08] mgibas opened #17 "developmentDependency"
I'm not sure but if this apply to other scenario, but in my case Equals should be marked as developmentDependency in *.nuspec.
As much as I understand, all wavers should be marked like that.

[2015-06-01 02:13] SimonCropp commented on #17
it already is https://github.com/Fody/Equals/blob/master/NuGet/Equals.nuspec#L9

[2015-06-01 02:13] #17 closed

[2015-06-11 19:09] emilianopenedo opened #18 "Sequence contains no matching element"
Hi,
I'm getting this exception at compilation with the latest nuget packages (Equals.Fody 1.4.1)
Can be reproduced in a PCL ClassLibrary Project (Profile78) with only a class annotated with [Equals] containing a string auto property
[code]

[2015-06-11 19:35] emilianopenedo commented on #18
In a PCL ClassLibrary Project (Profile78)

[2015-07-26 11:20] #18 closed

[2015-07-26 11:27] SimonCropp opened #19 "add simon to nuget"
@rjasica can u add me to nuget?

[2015-07-26 14:49] rjasica commented on #19
Is "simon" your account name on nuget.org?
I had tried, but nuget reported error: "Sorry, simon hasn't verified their email account yet and we cannot proceed with the request."

[2015-07-26 22:27] SimonCropp commented on #19
this is me http://nuget.org/profiles/simoncropp

[2015-07-27 06:22] rjasica commented on #19
I added you to owners

[2015-07-27 06:22] #19 closed

[2015-07-30 15:44] emilianopenedo opened #20 "Mono.Cecil Exception in classes that contains IList / ICollection properties in abstract base class"
Fody: An unhandled exception occurred:

    Exception:
    Member 'System.Collections.Generic.ICollection1' is declared in another module and needs to be imported StackTrace: at Mono.Cecil.MetadataBuilder.LookupToken(IMetadataTokenProvider provider) at Mono.Cecil.SignatureWriter.WriteTypeSignature(TypeReference type) at Mono.Cecil.SignatureWriter.WriteMethodSignature(IMethodSignature method) at Mo

[2015-08-04 12:58] emilianopenedo commented on #20
I´ve isolated the issue to this code, an assembly referencing another where is located an abstract generic class.

// assembly1
namespace Assembly
{
    [Equals]
    public class Foo : Bar<int>
    {
        public int Prop { get; set; }
    }
}

// assembly2
namespace AssemblyReferenced
{
    public abstract class Bar<T>
    {
        protected Bar()
        {
            Collection = new Collect

[2015-08-09 10:15] rjasica commented on #20
Thnak you for reporting this bug.
Fixed in 1.4.5

[2015-08-09 10:15] #20 closed

[2015-08-11 19:14] emilianopenedo commented on #20
Thank you Rafal for supporting this plugin

[2015-08-16 12:25] drewnoakes opened #21 "GetHashCode should use unchecked arithmetic"
I've only read the README so apologies if this is invalid.

The generated `GetHashCode` is shown as:

[code]

This arithmetic is almost certain to have integer overflow. If the assembly is compiled with 'checked' arithmetic, will this expression throw? If not (because non-checking IL is emitted) perhaps the README code should be updated to something like:

[code]

or

[code]

[2015-08-16 12:28] drewnoakes opened #22 "Equals function should consider NotNullAttribute on fields/auto-properties"
When using `JetBrains.Annotations.dll` to annotate the nullability of fields, generated equality members can avoid performing `null` checks.

A quick scan of [`EqualsInjector.cs`](https://github.com/Fody/Equals/blob/master/Fody/Injectors/EqualsInjector.cs) suggests this doesn't currently happen.

[2015-08-17 05:46] rjasica commented on #21
It doesn't matter if the assembly is compiled with 'checked'  or without the flag. The non-checking IL is alway emitted in the GetHashCode method.
I am going to update the readme.

[2015-08-17 05:46] #21 closed

[2015-12-18 09:47] mikhailshilkov commented on #10
Do you guys have an example of a workaround?

[2015-12-18 11:10] rjasica commented on #10
Sorry for inconvenience, but it is not easy to implement this feature.

Workaround: Move type to new/other assembly.

[2016-02-14 18:17] GeertvanHorrik opened #23 "When decorating an overridden property with the [IgnoreDuringEquals] attribute, it's not being ignored"
Something like this:

[code]

Location is still included in the equals method. Happy to do a PR if you are open to a fix.

[2016-02-14 18:43] GeertvanHorrik commented on #23
![image](https://cloud.githubusercontent.com/assets/1246444/13035543/344a5bfe-d353-11e5-8e84-109d5eae8c2e.png)

[2016-02-14 20:56] #23 closed

[2016-02-17 18:27] GeertvanHorrik opened #25 "[1.4.7] Publish release version of Equals.Fody instead of debug"
My store certification just failed because:

[code]

I know that Equals.dll shouldn't even be in the package, but why is it a debug version anyway?

[2016-02-17 21:04] rjasica commented on #25
My bad, 1.4.8 is ready.

[2016-02-17 21:04] #25 closed

[2016-03-02 12:13] SimonCropp commented on #22
are you worried about some impact one performance because of this?

[2016-03-02 12:13] SimonCropp commented on #13
Let me know if u ever get around to that pr

[2016-03-02 12:13] #13 closed

[2016-03-02 12:14] SimonCropp commented on #10
@rjasica so what do we do with this one? Close as not possible to fix?

[2016-03-03 01:15] drewnoakes commented on #22
Smaller code, fewer branches. Only a small optimisation, admittedly. It'd mean generated code matched that from R#, and was as lean as generated code could be. If you don't think it's worth it, feel free to close this issue.

[2016-03-03 01:23] SimonCropp commented on #22
@drewnoakes thanks

[2016-03-03 01:23] #22 closed

[2016-03-14 12:47] mikhailshilkov opened #26 "Mono.Cecil Exception in classes that have a property of struct implementing IEnumerable"
[code]

Here is some code to reproduce:
[code]

[2016-03-17 08:47] rjasica commented on #26
Thanks for reporting this bug. I have released new nuget packaged(1.4.9). Please let me know if you find other poblems witht FodyEquals

[2016-03-17 08:47] #26 closed

[2016-03-17 10:15] mikhailshilkov commented on #26
Works like charm now, thanks a lot for swift fix!

[2016-04-05 20:11] GeertvanHorrik commented on #25
I think you made the same mistake with 1.4.9?

[2016-04-06 17:47] rjasica commented on #25
fixed in 1.4.10

[2016-05-01 17:09] RivaCode opened #27 "support Equality for derived class"
I've been straggling 'while using Fody-Equal with class inheritance. I would like to achieve an equality between 2 DerivedClass objects by comparing only their own properties without the BaseClass properties please see the following snippet:

namespace TestingFodyEqual
{
  public class BaseClass
 {
     static void Main(string[] args)
     {
        DerivedClass d1 = new DerivedClass { CompareMeBy

[2016-05-05 17:03] rjasica commented on #27
I added possibility to skip base class properties(It is ready in 1.5.0).
Add attribute to your class like this:

[code]

Please let me know if this suits you.

[2016-05-05 17:03] #27 closed

[2016-07-27 12:31] ezavgorodniy opened #28 "HashSet.Contains for object works different than List.Contains for the same collection and same object"
Have console application with this classes:

    public class SubItem
    {
        public string Content { get; set; }
    }

    public class Item
    {
        public SubItem SubItem1 { get; set; }

        public SubItem SubItem2 { get; set; }
    }

    [Equals]
    public class CompareClass
    {
        public CompareClass()
        {
            Items = new List<Item>();
        }

[2016-07-29 06:57] SebastianStehle opened #29 "Customize GetHashCode"
Feature request: There should be an attribute to customize GetHashCode, similar to CustomEqualsInternal

[2016-07-29 09:40] rjasica commented on #29
Great Idea!
It is ready in 1.6.0 nuget package.

[2016-07-29 09:57] SebastianStehle commented on #29
Wow, this was fast. But it is not 100% what I want. Lets say I have a class like this:

	[Equals]
	public class Point
	{
		public int X { get; set; }

		public int Y { get; set; }

		[IgnoreDuringEquals]
		[IgnoreDuringGetHashCode]
		public int Z { get; set; }

		[CustomEqualsInternal]
		private bool CustomLogic(Point other)
		{
			return Z % 10 == other.Z % 10;
		}

		[CustomGetHashCodeInternal]

[2016-07-29 10:00] SebastianStehle commented on #29
If I want full control over the HashCode calculation I should be able to implement GetHashCode by myself. Dont know if this is possible at the moment.

[2016-07-29 16:22] rjasica commented on #29
I will change it. Your version is better.

[2016-07-29 20:39] SebastianStehle commented on #29
I think you dont need IgnoreDuringGetHashCode, because IgoreDuringEquals makes the same

[2016-07-31 12:09] rjasica commented on #29
I released new package. I hope, it will help you.

[2016-07-31 12:09] #29 closed

[2016-07-31 17:46] SebastianStehle opened #30 "Awesome, going to test it tomorrow"

[2016-08-01 06:56] rjasica commented on #28
There was a error in detecting IgnoreDuringEquals attribute in base class.
please let me know if new version works for you.

[2016-08-01 06:56] #28 closed

[2016-08-01 06:58] rjasica commented on #30
Nice to hear that :)

Please, reopen issue if you have any problem.

[2016-08-01 06:58] #30 closed

[2016-08-11 10:55] ezavgorodniy commented on #28
Yes looks like it fixed now.

Thanks.

[2016-08-15 13:43] ezavgorodniy opened #31 "When class is inherited from other assembly it act different then class inherited from the same assembly"
Related to https://github.com/Fody/Equals/issues/28

See attached project
[TestEquals.zip](https://github.com/Fody/Equals/files/418101/TestEquals.zip)

Note that decompiled code shows me very different generated EqualsInternal code:
![image](https://cloud.githubusercontent.com/assets/4509733/17665592/dc4e6dc4-62f3-11e6-9b8d-04c377736f63.png)

The issue here that I have almost the same class defini

[2016-08-25 07:30] MarkusAmshove commented on #10
Hi guys,

I just stumbled over this (after not being able to figure out what the problem was :) ).

Is there any chance this might be supported in the future?

The following workaround is working btw:
[code]

[2016-10-14 16:46] 0x53A opened #32 "[Feature Request] Allow to specify custom equality per member"
What I want to write:

    [Equals]
    public class MyClass
    {
        public string S { get; set; }
        public int I { get; set; }
        [CustomMemberEqualityInternal("_CompareA")]
        public char[] A { get; set; }

        protected static bool _CompareA(char[] a, char[] b)
        {
            return a.SequenceEqual(b);
        }
    }

It should then auto-generate the comparison

[2016-10-19 18:13] 0x53A commented on #32
I guess I should have RTFM.

I can solve this with the existing [IgnoreDuringEquals] and [CustomEqualsInternal]

[2016-10-19 18:13] #32 closed

[2016-11-11 14:28] mutzl commented on #10
What a bummer!
This is really, really dangerous.
Even analyzing the decompiled class containing the [Equals] attribute will not point to the issue, because the issue is hidden in the usage of the operator by this unwanted cast to (object).

So I suggest, making the default of DoNotAddEqualityOperators = true;
(Which is of course a breaking change.)

Nevertheless: there needs to be a highlyvisible

[2017-02-05 13:59] orc886 commented on #10
How can the developer not fixed it yet?

[2017-04-23 20:40] SimonCropp commented on #10
@orc886 a PR would be appreciated

[2017-04-23 20:40] SimonCropp commented on #10
@rjasica thoughts on @mutzl suggestions

[2017-04-23 20:54] orc886 commented on #10
Sorry, I might missed what PR means

[2017-04-23 21:02] SimonCropp commented on #10
@orc886 as in if it is valueable to you it would be great if you could fix it

[2017-04-28 09:15] GeertvanHorrik opened #33 "Update required for Fody 2.0"
This needs an update so it can be used by Fody 2.0.

[2017-05-15 12:43] aspnetde opened #36 "Support for .NET Standard"
Hi,

Are there any plans to support .NET Standard (currently 1.6), or would a PR be appreciated?

Greetings

Thomas

[2017-05-27 02:45] #33 closed

[2017-05-27 03:17] SimonCropp commented on #36
@aspnetde a PR would be appreciated.  for reference https://github.com/Fody/PropertyChanged/ has been changed to support netstandard 1.3

[2017-06-03 11:26] SimonCropp commented on #36
@aspnetde sooo about that PR?

[2017-06-03 21:17] aspnetde commented on #36
Quite at the bottom of my todo list, at the moment. Not coming anything soon.

[2017-06-09 14:28] GeertvanHorrik opened #37 "App submission fails because of debug mode"
Debug configuration

Error Found: The debug configuration test detected the following errors:
The binary Equals.dll is built in debug mode.

Impact if not fixed: Windows Store doesn’t allow a debug version of an app.

How to fix: Please make sure the app isn’t linking to any debug versions of a framework and it is built with release configuration with optimization enabled. If this is a managed app

[2017-06-10 09:17] #37 closed

[2017-06-19 14:14] DamianReeves commented on #36
So @SimonCropp does this mean you are open to a PR that supports moving over to the new VS 2017 csproj, project system?

[2017-07-10 07:31] gmarrot commented on #36
Hi,
I opened a pull request (#38) to support .NET Standard 1.0.

[2017-07-17 13:41] johannesegger opened #39 "Incremental build doesn't work"
I'm getting the following error when building a project that is up-to-date:

Interestingly I only get that error when I build from the command line using `msbuild Solution.sln`, building from within VS works totally fine.

The responsible part is [here](https://github.com/Fody/Equals/blob/master/NuGet/dotnet.targets#L13). It seems reasonable that the list of executed weavers is empty, if the weave

[2017-08-25 08:29] dscopra opened #41 "Support for fields"
Hi,
while validating your tool, I stumbled upon some problems. Once thing is, that IgnoreDuringEquals can not be applied to fields, only to properties.

Furthermore there is a problem when using Equals on fields. I created a minimal testcase in NUnit, which fails:
[code]
So my question is, are fields supported or not?

Used version 1.7.1.

[2017-10-30 10:53] MichaelMayrhofer opened #42 ".Equals(...) not working for double.NaN"
Hi,

I'm using version 1.7.1 with Visual Studio Professional 2017 version 15.2.

It seems [Equals] does not handle double.NaN correct. While `double.NaN.Equals(double.NaN)` returns `true` [Equals] returns `false`.

I wrote the sample code above.
`value = double.NaN` => equalsD: true, equalsC: false
`value = 0d` => equalsD: true, equalsC: true

[code]

[2017-10-31 05:51] #42 closed

[2017-12-19 11:43] SimonCropp commented on #39
can u try v 1.8

[2017-12-19 17:51] johannesegger commented on #39
I tried it on a clean project again and it worked, thanks a lot.

[2017-12-19 17:51] #39 closed

[2017-12-19 22:08] #36 closed

[2017-12-19 22:10] SimonCropp commented on #41
currently no. do u want to submit a PR?

[2017-12-21 16:19] milan-stojanovic opened #43 "Issues after updating to 1.8.0"
After updating Equals.Fody NuGet package from 1.7.1 to 1.8.0 (while using the latest Fody 2.3.3) I've started experiencing issues building projects that use Equals. Specifically, I get the following warning:

`    Warning: Fody: No configured weavers. It is possible no weavers have been installed or a weaver has been installed into a project type that does not support install.ps1. It may be necess

[2017-12-24 20:21] SimonCropp commented on #43
Moving forward will need to manage this file manually

[2017-12-24 20:21] #43 closed

[2017-12-26 12:01] #41 closed

[2018-01-08 19:37] SimonCropp opened #44 "Add dotnet build support"

[2018-01-08 19:37] #44 closed

[2018-01-13 05:19] SimonCropp opened #45 "update to new fody packaging"

[2018-01-13 05:19] #45 closed

[2018-02-08 09:34] SimonCropp commented on #31
sorry for the delayed response. do you want to have a go at a PR for this?

[2018-02-08 09:35] SimonCropp commented on #10
let me know if anyone gets a PR done

[2018-02-08 09:37] SimonCropp opened #46 "static state can be incorrectly shared between weavings"

[2018-02-08 09:37] #46 closed

[2018-02-08 11:05] ezavgorodniy commented on #31
Hi Simon,

It's been a while since I reported this issue and I remember that I found some workaround for it. AFAIK, the project where I found this is on freeze.

Regards,
Yevhen Zavhorodnii.

[2018-03-31 13:19] SimonCropp opened #47 "Update to Fody 3.0"

[2018-03-31 13:19] #47 closed

[2018-06-14 11:22] yossefhaycohen opened #48 "Typo in Page"
Hi
It seems to be a typo in the NuGet installation section
it should be
PM> Install-Package Equals.Fody

instead of
PM> Install-Package BasicFodyAddin.Fody

[2018-06-14 11:28] SimonCropp commented on #48
thanks. fixed

[2018-06-14 11:28] #48 closed

[2018-06-14 11:30] ReactiveSoftware opened #49 "Exceptions during compilation"
Hi,

I am trying to use the weaver but without success !!!

2>    Fody: Fody (version 3.0.4.0) Executing
2>MSBUILD : error : Fody: An unhandled exception occurred:
2>MSBUILD : error : Exception:
2>MSBUILD : error : Failed to execute weaver C:\Users\Yossef.Cohen\.nuget\packages\equals.fody\1.9.0\netclassicweaver\Equals.Fody.dll
2>MSBUILD : error : Type:
2>MSBUILD : error : System.Exception
2>MSBUIL

[2018-06-14 11:41] SimonCropp commented on #49
no idea. happy to take a PR that fixes it

[2018-08-28 12:31] #49 closed

[2018-10-07 08:11] ReactiveSoftware opened #52 "Compatibility issue (project .NET classic detected as STANDARD)"
Hi,

I am using Fody.Equals within a .NET framework (4.7.2) project but have some troubles. It looks like the weaver detects it as a STANDARD. This is the output:

: Fody: An unhandled exception occurred:
1>MSBUILD : error : Exception:
1>MSBUILD : error : Failed to execute weaver C:\Users\Yossef.Cohen\.nuget\packages\equals.fody\1.9.2\build\..\netstandardweaver\Equals.Fody.dll
1>MSBUILD : error :

[2018-10-07 08:34] SimonCropp commented on #52
Please read the issue template

[2018-10-07 08:34] #52 closed

[2019-02-06 12:02] greuelpirat opened #60 "string-arrays not compared as arrays"
Compiling this class:

    [Equals]
    public class DataClass
    {
        public string String { get; }
        public int[] Ints { get; }
        public string[] Strings { get; }
        public object[] Objects { get; }
    }

results in:

    [DebuggerNonUserCode]
    [GeneratedCode("Equals.Fody", "1.9.3.0")]
    private static bool EqualsInternal(DataClass left, DataClass right)
    {

[2019-02-13 08:38] SimonCropp commented on #60
To be raising issues [you should be a patron of Fody](https://github.com/Fody/Home/blob/master/pages/licensing-patron-faq.md#do-i-need-to-be-a-patron-to-raise-an-issue). Any issues raised by non Patrons may not be actively triaged, and eventually closed as stale.

[2019-02-13 09:59] greuelpirat commented on #60
@SimonCropp did it

[2019-02-13 10:11] SimonCropp commented on #60
@greuelpirat can u submit a PR with a failing unit test

[2019-02-14 10:49] SimonCropp commented on #60
can u try 1.9.4

[2019-02-14 11:37] greuelpirat commented on #60
1.9.4 worked for me. thank you!

[2019-02-14 11:37] #60 closed

[2019-04-23 07:17] dahlia opened #81 "Comapring two structs having arrays throws InvalidProgramException (“Invalid IL code”) at runtime"
If a struct having array properties comparing two values of that type throws `InvalidProgramException` at runtime.  The minimum reproducible code is here:

[code]

This program crashes with an unhandled exception:

[code]

On the other hand, this runtime exception does not occur if it's not a `struct` but a `class`.

I ran the above program on Mono 5.20.1.19 & macOS 10.14.2.

[2019-04-23 10:57] #81 closed

[2019-04-23 11:02] SimonCropp commented on #81
can u try 1.9.6

[2019-04-23 11:08] dahlia commented on #81
Thanks! It now works well.

[2019-04-24 11:29] dahlia commented on #81
The version 1.9.6 became to depend on Fody 5.0.0, which dropped MSBuild 15 support.  So this version of Fody.Equals cannot be used with .NET Core 2.2, which sticks with MSBuild 15.  On the other hand, Fody.Equals 1.9.5 works well with .NET Core 2.2.  Is depending on Fody 5.0.0 intended?

[2019-04-24 11:36] SimonCropp commented on #81
i dont understand this statement? .NET Core 2.2 works fine with MSBuild 16

[2019-04-24 12:21] dahlia commented on #81
Indeed, .NET Core 2.2.20x versions bundle MSBuild 16.  I hadn't been aware that.  However, there are apparently no .NET Core 2.2 version bundling MSBuild 16 and working with Visual Studio 2017.  (See also <q>The Visual Studio / .NET Core SDK support matrix</q> on [this issue][1].)  Note that there is no .NET Core version higher than 2.2.106 (this also bundles MSBuild 15) for macOS either.

Or is t

[2019-04-24 13:34] tom-englert opened #82 "Major version not increased"
1.9.6 introduces dependency to Fody 5.0, which is a breaking change, so the major version should have been increased (as you agreed in https://github.com/Fody/Fody/issues/679)

This version should be hidden from Nuget and replaced with properly versionend one!

[2019-04-25 01:19] SimonCropp commented on #81
I tested on VS for mac. You should be able to target netcore 2.1 in your project. Is this not the case?

[2019-04-25 05:46] dahlia commented on #81
I tried the `dotnet build` command on macOS, and it gave me the following result:

[code]

The tested code is [here](https://gist.github.com/dahlia/9e665848b5f8206227b9ca22021817db).  My .NET Core installation is like the following:

[code]

[2019-04-25 13:29] SimonCropp commented on #81
Can u try 5.0.1 beta2

[2019-04-25 13:38] dahlia commented on #81
Fody 5.0.1-beta.2 with Equals.Fody 1.9.6 works well with MSBuild 15! Thanks!

[2019-04-25 21:12] SimonCropp commented on #82
thanks for the reminder. this is now done

[2019-04-25 21:12] #82 closed

[2019-04-25 21:45] SimonCropp commented on #81
@dahlia i have deployed 5.0.1 stable, sorry for the hassle

[2019-04-26 08:55] dahlia commented on #81
Thanks for your immediate answer! 🙏🏼

[2019-06-27 07:22] BrunoJuchli commented on #31
While the types `InheritedCompareClass` and `CompareClass` are in the same assembly, `InheritedCompareClassInternal` is not in the same assembly as `CompareClass`.

Equals.Fody does not support comparing members of types of assemblies. That's why `InheritedCompareClassInternal` does not compare the members of `CompareClass`, while `InheritedCompareClass` does.

I believe it should work as expected

[2019-07-02 10:30] BrunoJuchli commented on #10
Note: I'll implement the PR for the proposal, given I can convince the team to allocate time for it. Which depends on your feedback to the proposal.

Proposal
--
(Breaking Change)
Do not weave == & != operators.
User has to manually add `==` and `!=` operators, like @MarkusAmshove showed:

    [Equals(DoNotAddEqualityOperators =true)]
    public class Point
    {
        public static operator==(P

[2019-07-02 10:43] SimonCropp commented on #10
i am happy with this. and happy with your proposal overall :)

[2019-07-02 10:52] ltrzesniewski commented on #10
Shouldn't the operators continue to be weaved on value types?

[2019-07-02 11:11] BrunoJuchli commented on #10
@ltrzesniewski
Good point, I'll have to investigate. I  don't know how equality works for structs.

[2019-07-02 13:49] tom-englert commented on #10
For the operators to work in the same assembly, they have to be present in the source at compile time - but Fody adds them after compile!

You should write it like this, an let Fody replace the implementation afterwards:
[code]

[2019-07-02 15:05] BrunoJuchli commented on #10
@tom-englert
IMHO the difference between copy-pasting:

    public static operator==(Point left, Point right) => throw new NotImplementedException();
    public static operator!=(Point left, Point right) => throw new NotImplementedException();

and

    public static operator==(Point left, Point right) => left.Equals(right);
    public static operator!=(Point left, Point right) => !left.Equals(rig

[2019-07-04 14:00] BrunoJuchli commented on #10
@tom-englert
I've been thinking about this a bit more.
Just replacing the operators seems dangerous, too: In the (un-common and strange) case of actually implementing the operators with a *different* logic, them being silently replaced would be a big surprise. So it seems it would be nice to be able to mark operators for replacement. Of course one could argue that this is being done by `[Equals]`

[2019-07-04 14:15] BrunoJuchli commented on #10
@ltrzesniewski

    public struct Struct1
    {
        public bool Foo()
        {
            return this == new Struct1();
        }
    }

doesn't compile because apparently `struct`s don't have `==` and `!=` by default.
Changing the code to:

    [Equals]
    public struct Struct1
    {
        public static bool operator ==(Struct1 c1, Struct1 c2) => true;
        public static bool operator

[2019-07-04 14:37] MarkusAmshove commented on #10
I like the idea of `Equals.Weave`, as a `NotImplementedException` would be yelled at from static analysis tools  :-)

[2019-07-04 14:40] BrunoJuchli commented on #10
But who is still using the IL based ones, like FxCop? Nowadays we mostly use Roslyn based code analyzers and those don't inspect the contents of `Equals.Weave` at all. Not sure if FxCop did, anyway (Equals being a third party assembly).

[2019-07-04 15:18] MarkusAmshove commented on #10
Exactly, I mean using `Equals.Weave()` instead of the former proposal:

[code]

because the latter would raise issues in our static analysis

[2019-07-05 14:42] BrunoJuchli commented on #10
@SimonCropp
I've run into a bit of a pickle.
Even if I leave the `ModuleWeaver.Execute()` method completely empty, weaving the assembly replaces a method reference with an invalid one:

![image](https://user-images.githubusercontent.com/2090172/60729612-71a86f80-9f43-11e9-988e-88ba0b1553a0.png)

![image](https://user-images.githubusercontent.com/2090172/60729639-81c04f00-9f43-11e9-9588-1326261a6d4

[2019-07-05 17:32] ltrzesniewski commented on #10
This is most likely caused by [this line](https://github.com/Fody/Equals/blob/40355c688a6f3777e29a10a266f5e33fda644442/Equals.Fody/ModuleWeaver.cs#L135) which tells Fody to remove the reference to the `Equals` assembly. It supposes the weaver removed all references to its library during weaving. If you leave code which references `Equals`, it will be broken.

[2019-07-05 18:02] BrunoJuchli commented on #10
@ltrzesniewski
Thanks! So i guess this is a problem other add-ins are affected by, too?
Whenever you place a reference somewhere unexpected and it doesn't get picked up/replaced by the AddIn you've got faulty IL. Or are other add-ins searching the whole IL for references? Is there a sensible way to do that?

I'm tempted to just ignore the issue as "by design", although it would be very preferable

[2019-07-05 19:24] ltrzesniewski commented on #10
I don't see this as a problem but as something that's by design: the weaver is supposed to clean up after itself. It's usually not a problem for most weavers, but they almost all assume the user is using the weaver library as intended. Many weaver libraries only supply attributes, so you can end up with invalid metadata, which won't prevent your code from running.
I tried to implement something mo

[2019-07-15 14:09] BrunoJuchli commented on #10
It'd be nice if someone could review #96. Thanks.

[2019-07-21 00:01] #10 closed

[2019-07-21 00:36] SimonCropp commented on #10
This is now deployed. NuGet may take some time to make it available for download.

[2019-07-22 12:30] BrunoJuchli opened #99 "Using woven `==` or `!=` operator results in build failure"
Version 3.0, when using `==` or `!=` operator the build will fail with a message like:

   at Mono.Cecil.MetadataBuilder.LookupToken(IMetadataTokenProvider provider)
   at Mono.Cecil.Cil.CodeReader.PatchRawCode(ByteBuffer buffer, Int32 code_size, CodeWriter writer)
   at Mono.Cecil.Cil.CodeReader.PatchRawFatMethod(ByteBuffer buffer, CodeWriter writer, Int32& code_size, MetadataToken& local_var_tok

[2019-07-23 06:32] #99 closed

[2019-07-31 07:40] BrunoJuchli opened #103 "Version 3: When Equals assembly is unused build fails with an exception"
When performing a build immediately after adding Equals.Fody 3.0.1 to a project, the build fails with:

Exception:
Failed to execute weaver C:\Users\BRUNO.lorenz.juchli\.nuget\packages\equals.fody\3.0.1\build\..\weaver\Equals.Fody.dll
Type:
System.Exception
StackTrace:
   at InnerWeaver.ExecuteWeavers() in C:\projects\fody\FodyIsolated\InnerWeaver.cs:line 189
   at InnerWeaver.Execute() in C:\proj

[2019-07-31 07:46] BrunoJuchli commented on #103
## Workaround

- put an `[Equals]` attribute on a type
- remove Equals.Fody from the project as long as you don't use it (don't forget to adapt FodyWeavers.xml accordingly, too)

[2019-08-03 07:23] #103 closed

[2019-08-20 06:21] greuelpirat opened #113 "Default-setting for DoNotAddEqualityOperators"
Please add the possibility to set default for `[Equals(DoNotAddEqualityOperators = true)]` in the `FodyWeavers.xml` like

[code]

[2019-08-20 07:33] SimonCropp commented on #113
Can u follow the issue template https://github.com/Fody/.github/blob/master/.github/ISSUE_TEMPLATE/feature_proposal.md

[2019-08-20 09:37] #113 closed

[2019-08-21 10:19] SimonCropp opened #114 "Update to Fody 6"

[2019-08-21 10:19] #114 closed

[2019-09-23 21:17] ndrwrbgs opened #118 "Calls within defining library do not honor interface"
#### Preamble

 * Fody 6.0.0
 * Equals.Fody 4.0.0
 * MSBuild 16

#### Describe the issue

When a modified type is used within the library, calls with that type are not rewritten honoring the interface. It's not a major problem for those well versed in Fody, but for another developer coming along and learning it would be unexpected.

#### Minimal Repro
FodyWeavers.xml packages.config, and csproj ex

[2019-09-23 21:24] ndrwrbgs commented on #118
The easy solution would be requiring the callers to do everything like the == approach, to add IEquatable<T> (but with dummy methods) that we replace.

The harder (but nicer consumption) solution would be to replace such calls within the library where they are found.

[2019-09-23 21:33] ltrzesniewski commented on #118
Interesting. I suppose this is only a problem if you build both projects in the same solution.

If you provide Project1 in a different way, like a NuGet package, the compiler will see that `TypeUnderTest` implements `IEquatable`.

I thought that Fody should be able to do its job before the compiler reads the Project1 metadata when compiling Library2.

[2019-09-23 22:47] ndrwrbgs commented on #118
_Updating example to make it clear the separate libraries aren't actually needed_

[2019-09-24 08:56] ltrzesniewski commented on #118
Note that the "harder solution" won't be possible to implement correctly for all cases.

You'd have to reimplement Roslyn's overload resolution (which is a major pain point in the compiler already), while having *less* information about the code. For instance, you wouldn't be able to detect when a user forces a particular overload with `EquatableUser.DoSomething((object)new TypeUnderTest());` as t

[2019-09-29 22:50] ndrwrbgs opened #119 "[Feature] specify EqualityComparer"
#### Preamble

 * Fody 6.0.0
 * Equals.Fody 4.0.0
 * MSBuild 16

#### Describe the issue

When comparing things like `string`, often you need to specify the IEqualityComparer to use for the comparison. I'd like to see(/add, it's important enough to me that Equality not be so much boilerplate in projects) the ability to specify the EqualityComparer for a field/property to be used by the generated c

[2019-09-30 02:49] ndrwrbgs opened #121 "ReferenceEquals call should be replaced with equivalent IL (when possible)"
_I deleted the template, I'm a bad patron :(_

Made unit test to try to compare the weave results against what the compiler would do (so instead of having a comment in the readme.md about what it's similar to, we could assert it's the same as that!) -- https://github.com/Fody/Equals/compare/master...ndrwrbgs:testTheActualIL

However, note the TODOs in the test file

https://github.com/Fody/Equals/

[2019-09-30 02:50] ndrwrbgs opened #122 "GetHashCode should match IL generated during release build and avoid intermediate variables"
_I deleted the template, I'm a bad patron :(_
_Similar discovery route, but different BUG, from #121_

Made unit test to try to compare the weave results against what the compiler would do (so instead of having a comment in the readme.md about what it's similar to, we could assert it's the same as that!) -- https://github.com/Fody/Equals/compare/master...ndrwrbgs:testTheActualIL

However, note the

[2019-12-08 22:32] ndrwrbgs commented on #118
Do the participants here think we should add those dummy methods similar to the == we added, or omit and leave as it stands today? If we are going ahead with it, I can take on making the PR since I brought up the issue (assign something to me please :) )

[2020-01-30 11:12] SebastianStehle opened #175 "IgnoreDuringEqualsAttribute not accessible at runtime"
Almost everything works great, but I have a class that is also json serialized.

The serializer throws the following exception:

[code]

When I open this type in ILSpy, I see that the IgnoreDuringEqualsAttribute is there but I cannot follow it to the implementation, so somehow the IL is corrupt.

Btw: I am using .NET Core 3

[2020-01-30 11:51] SimonCropp commented on #175
@SebastianStehle did you read the issue template https://github.com/Fody/.github/blob/master/.github/ISSUE_TEMPLATE/bug_report.md  ?

[2020-01-30 12:19] SebastianStehle commented on #175
You mean the "Minimal Repro"?

Yeah, I was lazy, sorry. Here is the repro: https://github.com/SebastianStehle/FodyTest

The problem is when the attributes are used in a base class that do not have the Equals property.

[2020-01-30 12:22] SebastianStehle commented on #175
My solution is to add

`[Equals(DoNotAddEquals = true, DoNotAddGetHashCode = true, DoNotAddEqualityOperators = true)]` to the base class, but it is not very intuitive.

[2020-01-30 12:48] ltrzesniewski commented on #175
From a quick glance at the source code, it looks like this weaver won't remove the attributes on classes which don't have an `[Equals]` attribute.

Note that `[Equals]` is not inherited, therefore using other attributes on a class without `[Equals]` is an error. A warning should probably be emitted there, and in any case attributes should be removed from all types, not just those marked with `[Equ

[2020-01-30 13:57] SebastianStehle commented on #175
The behavior makes sense, it is just the remove that it is the problem. Because the IgnoreDuringEqualsAttribute works as expected :)

[2020-02-02 11:39] SimonCropp commented on #175
i will add a compile error that explains the problem

[2020-02-02 11:39] #175 closed

[2021-03-30 19:24] jeremy-morren opened #330 "Version 4+ generates virtual method rather than override"
I am compiling against .NET Standard 2.0.  After inspecting dll with JetBrains dotPeek, I noticed that v4+ is generating methods as virtual, rather than override.  v3 and before are generating override.

v4.0 output:

    [GeneratedCode("Equals.Fody", "4.0.0.0")]
    [DebuggerNonUserCode]
    public virtual bool Equals(object obj) { ... }

    [GeneratedCode("Equals.Fody", "4.0.0.0")]
    [Debugge

[2021-04-03 11:07] ltrzesniewski commented on #330
Hi, I cannot reproduce this. The output of v3.1.0 and v4.0.1 only differs by the `GeneratedCode` attribute when used with Fody v6.5.0.

Can you test this with a different decompiler (such as ILSpy or dnSpy for instance)?

[2021-09-11 14:01] tom-englert commented on #330
Closed as no reproducible

[2021-09-11 14:01] #330 closed

[2021-09-11 14:24] tom-englert commented on #118
@ndrwrbgs still interested in changing this?
IMO equality is a perfect candidate for a Roslyn source generator like e.g. this: https://github.com/diegofrata/Generator.Equals, this will not have such side effects.

[2021-09-16 18:51] #118 closed

[2021-12-17 20:50] ndrwrbgs opened #399 "Package Description is currently 'Package Description' on Nuget 4.0.1"
#### Preamble

* Versions are N/A beyond Equals.Fody @ 4.0.1 [link to full repro](https://www.nuget.org/packages/Equals.Fody/)

#### Describe the issue

Package Description is currently 'Package Description' on Nuget 4.0.1

#### Minimal Repro

[link to full repro](https://www.nuget.org/packages/Equals.Fody/) click ReadMe or Browse the package in Visual Studio on nuget.org package source

#### Make

[2021-12-28 08:33] #399 closed